body {
    background-color: rgb(133, 133, 133);
}
header{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.nav-lista{
    display: flex;
    list-style: none;
    color: rgb(0, 0, 0);
    font-size: 40px;
    text-transform: uppercase;
    justify-content:center;
    align-items:center;
    gap: 28px;
}

.nav-item:hover {
    cursor: pointer;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    align-items:center;
}

section {
    width: 100%;
    padding-left: 8%;
}

.secao {
    padding-top: 8%;
    padding-right: 2%;
}
.moldura videos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}